body{
    background: #252525;
}
*{
    font-family:arial;
}
.titleM{
    color:red;
    width:100;
    text-align:center;
}
.P{
    color:white;
    font-size:21px;
}
.aB{
    position:absolute;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%);
    width:200px;
    height:60px;
    text-align:center;
    line-height:60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family:sans-serif;
    box-sizing:border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
}
.aB:hover{
    animation: animateA 8s linear infinite;
}
.aB:before{
    content:'';
    position:absolute;
    top:-5px;
    left:-5px;
    right:-5px;
    bottom:-5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;border-radius: 40px;
    filter:blur(20px);
}
.aB:hover:before{
    animation: animateA 8s linear infinite;
}
.titleM2{
    color:white;
    position:absolute;
    top: 20%;
}
@keyframes animateA{
    0%{background-position: 0%;}
    10%{background-position: 40%;}
    20%{background-position: 80%;}
    30%{background-position: 120%;}
    40%{background-position: 160%;}
    50%{background-position: 200%;}
    60%{background-position: 240%;}
    70%{background-position: 280%;}
    80%{background-position: 320%;}
    90%{background-position: 360%;}
    100%{background-position: 400%;}
}