ErrorDocument 404 /errors/404.php
ErrorDocument 403 /errors/403.php
ErrorDocument 402 /errors/402.php
ErrorDocument 401 /errors/401.php

AddDefaultCharset "utf-8"

SetEnv TZ Europe/Paris
Options All -Indexes
Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]