header{
    background-color: #f2f6fc;
    display: flex;
}

a.start{
    background-color: var(--color-principal);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    color: var(--color-primary);
    text-decoration: none;
    transition: .5s ease;
    border: solid 1px var(--color-principal);
}

a.start:hover{
    color: var(--color-principal);
    border: solid 1px var(--color-principal);
    background: none;
}

@media screen and (min-width: 1024px){
    header{
        justify-content: space-between;
        flex-direction: row;
    }

    header .header-end{
        margin-right: 5%;
        height: 600px;
        width: 100%;
    }

    header .header-start{
        margin-top: 200px;
        width: 150%;
        font-size: 25px;
    }
}

@media screen and (max-width: 1023px){
    header{
        min-height: auto;
        flex-direction: column;
        align-items: center;
    }
    header .header-start{margin-top: 16%;font-size: 20px;}
    header .header-end{width: 100%;margin-top: 35px;}
}