:root{
    --color-principal: #3d8bfd;
    --color-primary: white;
    --color-secondary: black;
    --navbar-shadow: #303030;
}
.navbar a.navbar-brand{
    background-color: var(--color-principal);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: var(--color-primary);
    font-size: 20px;
}

.navbar{
    box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.2);
}

.navbar, .navbar li{
    box-shadow: var(--navbar-shadow);
    list-style-type: none;
}

.navbar li.nav-item a.navbar-sign-up{
    background: linear-gradient(312deg, rgb(119, 61, 255) 0%, rgba(49,125,176,1) 100%);
    padding: 10px 10px;
    font-size: 17px;
    border-radius: 5px;
    color: var(--color-primary);
    margin-right: 15px;
}

.navbar li.nav-item a.navbar-sign-in{
    padding: 10px 10px;
    color: var(--color-secondary);
    border: solid 1px var(--color-secondary);
    border-radius: 5px;
    transition: .5s ease;
}
.navbar li.nav-item a.navbar-sign-in:hover{border: solid 1px#3d8bfd;}
.navbar li.nav-item a.navbar-sign-in:focus{background-color: #3d8afd0e;}

.navbar li a.navbar-link{
    text-decoration-line: none;
    color: var(--color-principal);
}
@media screen and (max-width: 1023px){
    .navbar li.nav-item{
        margin-top: 25px;
        margin: 5px;
    }

    .navbar{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px){
    
}